schema/op-mode-definition.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <!--
       interface_definition.rnc: VyConf reference tree XML grammar
    
       Copyright VyOS maintainers and contributors <maintainers@vyos.io>
    
       This library is free software; you can redistribute it and/or
       modify it under the terms of the GNU Lesser General Public
       License as published by the Free Software Foundation; either
       version 2.1 of the License, or (at your option) any later version.
    
       This library is distributed in the hope that it will be useful,
       but WITHOUT ANY WARRANTY; without even the implied warranty of
       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
       Lesser General Public License for more details.
    
       You should have received a copy of the GNU Lesser General Public
       License along with this library; if not, write to the Free Software
       Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301
       USA
  -->
  <!--
    The language of this file is compact form RELAX-NG
    http://relaxng.org/compact-tutorial-20030326.htm
    (unless converted to XML, then just RELAX-NG :)
  -->
  <!-- Interface definition starts with interfaceDefinition tag that may contain node tags -->
  <start>
    <element name="interfaceDefinition">
      <zeroOrMore>
        <choice>
          <ref name="node"/>
          <ref name="tagNode"/>
        </choice>
      </zeroOrMore>
    </element>
  </start>
  <!--
    node tag may contain node, leafNode, or tagNode tags
    Those are intermediate configuration nodes that may only contain
    other nodes and must not have values
  -->
  <define name="node">
    <element name="node">
      <ref name="nodeNameAttr"/>
      <interleave>
        <optional>
          <ref name="properties"/>
        </optional>
        <optional>
          <ref name="children"/>
        </optional>
        <optional>
          <ref name="command"/>
        </optional>
      </interleave>
    </element>
  </define>
  <!--
    Tag nodes are containers for nodes without predefined names, like network interfaces
    or user names (e.g. "show interfaces ethernet ethX").
    Operational mode tag nodes can be parents to other tag nodes,
    like in "ping <host> count <packets>".
    
    Some commands can be called either with or without arguments,
    like "show interfaces ethernet eth0" (show info for eth0 only)
    or "show interfaces ethernet" (show info about all ethernet interfaces).
    That case is handled using the <standalone> element
  -->
  <define name="tagNode">
    <element name="tagNode">
      <ref name="nodeNameAttr"/>
      <interleave>
        <optional>
          <ref name="properties"/>
        </optional>
        <optional>
          <ref name="standalone"/>
        </optional>
        <optional>
          <ref name="children"/>
        </optional>
        <optional>
          <ref name="command"/>
        </optional>
      </interleave>
    </element>
  </define>
  <!--
    The <standalone> element is only used inside tag nodes
    to define their behavior when they are called without arguments
    It can provide a help string and a command.
    Everything else is handled in the <tagNode> itself.
  -->
  <define name="standalone">
    <element name="standalone">
      <interleave>
        <ref name="help"/>
        <ref name="command"/>
      </interleave>
    </element>
  </define>
  <!--
    Virtual tag nodes provide a way to add a variable argument
    to a command that also needs fixed arguments,
    like "show ip route" that can take "show ip route bgp"
    or a network and arguments after it, like "show ip route 10.0.0.0/8 longer-prefixes"
  -->
  <define name="virtualTagNode">
    <element name="virtualTagNode">
      <interleave>
        <optional>
          <ref name="properties"/>
        </optional>
        <optional>
          <ref name="children"/>
        </optional>
        <optional>
          <ref name="command"/>
        </optional>
      </interleave>
    </element>
  </define>
  <!--
    Leaf nodes are terminal configuration nodes that can't have children,
    but can have values.
  -->
  <define name="leafNode">
    <element name="leafNode">
      <ref name="nodeNameAttr"/>
      <interleave>
        <ref name="command"/>
        <ref name="properties"/>
      </interleave>
    </element>
  </define>
  <!--
    Normal and tag nodes may have children: nodes, leaf nodes, or tag nodes.
    There can only be one virtual tag node child, though.
  -->
  <define name="children">
    <element name="children">
      <choice>
        <interleave>
          <optional>
            <ref name="virtualTagNode"/>
          </optional>
          <zeroOrMore>
            <choice>
              <ref name="node"/>
              <ref name="tagNode"/>
              <ref name="leafNode"/>
            </choice>
          </zeroOrMore>
        </interleave>
        <oneOrMore>
          <choice>
            <ref name="node"/>
            <ref name="tagNode"/>
            <ref name="leafNode"/>
          </choice>
        </oneOrMore>
      </choice>
    </element>
  </define>
  <!--
    Nodes may have properties
    For simplicity, any property is allowed in any node,
    but whether they are used or not is implementation-defined
  -->
  <define name="properties">
    <element name="properties">
      <interleave>
        <optional>
          <ref name="help"/>
        </optional>
        <zeroOrMore>
          <ref name="completionHelp"/>
        </zeroOrMore>
        <optional>
          <ref name="constraint"/>
        </optional>
        <optional>
          <element name="constraintErrorMessage">
            <text/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- All nodes must have "name" attribute -->
  <define name="nodeNameAttr">
    <attribute name="name"/>
  </define>
  <!--
    Tag and leaf nodes may have constraints on their names and values
    (respectively).
    When multiple constraints are listed, they work as logical OR
  -->
  <define name="constraint">
    <element name="constraint">
      <oneOrMore>
        <choice>
          <element name="regex">
            <text/>
          </element>
          <ref name="validator"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <!-- A constraint may also use an external validator rather than regex -->
  <define name="validator">
    <element name="validator">
      <interleave>
        <attribute name="name"/>
        <optional>
          <attribute name="argument"/>
        </optional>
      </interleave>
      <empty/>
    </element>
  </define>
  <!-- help tags contains brief description of the purpose of the node -->
  <define name="help">
    <element name="help">
      <text/>
    </element>
  </define>
  <define name="command">
    <element name="command">
      <text/>
    </element>
  </define>
  <!--
    completionHelp tags contain information about allowed values of a node that is used for generating
    tab completion in the CLI frontend and drop-down lists in GUI frontends
    It is only meaningful for leaf nodes
    Allowed values can be given as a fixed list of values (e.g. <list>foo bar baz</list>),
    as a configuration path (e.g. <path>interfaces ethernet</path>),
    as a path to a script file that generates the list (e.g. <script>/usr/lib/foo/list-things</script>,
    or to enable built-in image path completion (<imagePath/>).
  -->
  <define name="completionHelp">
    <element name="completionHelp">
      <interleave>
        <zeroOrMore>
          <element name="list">
            <text/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="path">
            <text/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="script">
            <text/>
          </element>
        </zeroOrMore>
        <optional>
          <element name="imagePath">
            <empty/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
</grammar>
